*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Volkhov', serif;
}
/* Header */
header{
    width: 100%;
    position: fixed;
    z-index: 3;
    padding: 10px 20px;
}
#switchButton:hover i{
    color: #fb811e;
}

    
header .navbar-brand{
    font-size: 30px;
    color: #fb811e;
    
}
header .navbar a{
    position: relative;
}
header .navbar-brand i{
    position: absolute;
    top: 0px;
    right:50%;
    font-size: 20px;
}
.header-container i{
    font-size: 20px;
    padding: 0 5px;
    color: white;
}
.header-container{
    display: flex;
    justify-content:right;
    align-items: center;
}


header .search i{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
}

header input{
    display: none;
}

.search-button:hover .search{
    display: inline-block;
}



header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-bar-icon {
    color: white;
}
header .dropdown-menu{
    text-align: center;
    width: 200px;
    background-color: white;
    border: none;
    font-size: 15px;
    line-height: 30px;
}

header .header-bar{
    position: relative;
}
header .dropdown-menu{
    position: absolute;
    color: black;
    top: 30px;
    left: -175px;
    
}
.nav-item.active{
    background-color: white;
    color: #fb811e;
}

/* Banner */
 .banner{
    width: 100%;
    height: 100vh;  
}


.banner img{
    height: 100%;
    width: 100%;
    
}
.banner .carousel-item{
    height: 100vh;
    width: 100%;
}


.banner .banner-right .carousel-inner{
    position: relative ;
    width: 100%;
    
border-radius: 15px 0 0 15px;}
.banner .banner-right{width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
}

   
.banner   .banner-right .carousel-caption{
        width: 200px;
        position: absolute;
        top: 80%;
        left: 70%;
        text-align: center;
    }
    .banner  .banner .carousel{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        
    }
 .banner .carousel-item{
        z-index: -1;
    }
   
    .banner .carousel-indicators li{
        background-color: white;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin: 0 5px;
        opacity: 1;
    }
    
    .banner .carousel-indicators li.active{
        background-color: #fb811e;
    }
.banner h1{
    color: rgba(220, 220, 220,.3);  
    font-size: 100px;
    line-height: 20px;
}

.banner .banner-left {
    position: absolute;
    left: 0;
    top: 120px;
    width: 40%;
    margin-left: 100px;}

    .banner .banner-left h2, .banner-left p{
  width: 500px;
}

.banner .banner-left h2{
    font-weight: bolder;
    font-size: 40px;
}

.banner .banner-left p{
    color: grey;
}

.banner .banner-left button {  
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    background-color: #fb811e;
    color: white;
    margin-top: 20px;
    transition: .3s;
} 






.banner .banner-left button:hover{
    background-color: #009f4d;
}

/* grow */

.grow{
    position:absolute;
    top: 100vh;
    padding: 50px 10px;
    margin: 50px 0px;
}



.grow-left h3{
    font-size: 20px;
    color: #fb811e;
    padding: 0px 20px ;
}

.grow-left h2{
    font-size: 40px;
    padding: 0px 20px;
}

.grow-left p{
    color: grey;
    padding: 5px 20px;
}
.grow-left button{
    margin-left: 20px ;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    background-color: #fb811e;
    color: white;
    margin-top: 20px;
    transition: .3s;
}
.grow-right{
    text-align: center;
}

.grow-right .grow-item{
    padding: 20px;
}
.grow-item img{
    width: 30%;
}

.grow-item .title-head{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.grow .item-container{
    
    padding: 30px ;
    border-radius: 10px;
    transition: .3s;
}

.grow .item-container:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grow-left button:hover{
    background-color: #009f4d;
}



@media screen and (max-width: 575px) {
    .banner .banner-right{
        width: 100vw;
        position: absolute;
        top: 0;

    }

    .banner .banner-right img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: bottom;
    }
    
    .banner .banner-left{
        position: absolute;
        top: 120px;
        left: 40px;
        background-color: white;
        width: 80%;
        height: 500px;
        padding: 30px;
        margin: 0 auto;
        border-radius: 10px;
        
    }

    .banner-left h1, .banner-left h2, .banner-left p{
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        padding: 5 0;
        
    }

    .banner .banner-left button{
        margin: 0 auto;
        margin-top: 10px;
    }

    .banner .banner-left h1{
        font-size: 70px;
        line-height: 0px;
    }

    .banner .banner-left h2{
        font-size: 30px;
        margin-top: 0px;
    }

}


/*Start organic*/
.organic{
    margin-top: 500px;
}
.organic .service-section{
    background: #009f4d;
}
.organic .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.organic .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.organic .align-items-center {
    align-items: center !important;
}
.organic h4.title-bg-content {
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}
.organic .title-style {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}
.organic .service-section .lead {
    font-family: 'Source Sans 3', sans-serif;
}
.organic .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0.25rem;
}
.organic .service-section .card {
    border: none;
    background: none;
}
.organic .service-section .card img {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.organic .img-responsive {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 100%;
}
.organic .card-header a{
    background-color: transparent;
}
.organic .card-body {
    flex: 1 1 auto;
    min-height: 1px;
}
.organic .service-details {
    background: white;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #eee;
    border-top: none;
}
.organic .service-section span.label-style {
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
    font-family: 'roboto',sans-serif;
}
.organic a.service-heading {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: black;
    margin: 15px 0;
    font-family: 'roboto',sans-serif;
}
.organic a.service-heading:hover {
    color: #009f4d;
    text-decoration: none;
    transition: 0.5s;
}
.organic .service-details p{
    color: #707070;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
/*start quality*/
.quality h5.small-title {
    color: #fb811e;
}
.quality .title-style {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}
.quality .align-self p{
    color: #707070;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
.quality .grids_info span {
    font-size: 30px;
    color: #fb811e;
}
.quality .grids_info h4 {
    font-size: 20px;
    font-weight: 600;
}
.quality .radius-image {
    border-radius: 30px;
    border: none;
}
.quality .img-fluid {
    max-width: 100%;
    height: auto;
}
.quality .imginfo__box {
    background-color: #fb811e;
        color: white;
        position: absolute;
        left: -85px;
        bottom: 38px;
        padding: 40px;
        box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
        min-width: 300px;
        border-radius: 0 0 100px 0;
        text-align: center;
        box-sizing: border-box;
}
.quality .imginfo__box .imginfo__title {
    font-size: 70px;
        line-height: 80px;
        color: white;
        font-weight: 600;
}
.quality .imginfo__box p {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
    font-family: 'Source Sans 3',sans-serif;
}
.quality .HomePageServices .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.quality .w3l-index-block4 .feature-unit {
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease-in;
    padding: 1.5rem 0.5rem;
}

.quality .w3l-index-block4 .feature-unit:hover, .w3l-index-block4 .feature-unit.active {
    border: 1px solid #eee;
    transition: 0.3s ease-in;
    background: white;
    text-decoration: none;
}
.quality .features15-para {
    text-decoration: none;
}
.quality .features15-para h4{
    font-family:'Volkhov', serif;
    line-height: 25px;
    font-weight: 600;
    color: black;
    font-size: 20px;
}
.quality .feature-unit p{
    font-family: 'Source Sans 3',sans-serif;
    color: #707070;
    font-size: 17px;
    font-weight: 600;
}
.quality .w3l-index-block4 .features15-para h4:hover {
    transition: 0.3s ease-in-out;
    color: #009f4d;
}
/*start gallery*/
.gallery .title-style{
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}
.gallery .gallery_effect h5.small-title{
    color: #fb811e;
}
.gallery_effect p{
    font-family: 'Source Sans 3',sans-serif;
    color: #707070;
    font-size: 17px;
    font-weight: 600;
}
.btn-primary {
    background-color: #fb811e;
}
.btn-style {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
    font-family: 'Source Sans 3',sans-serif;
}
.btn-style:hover {
    background: #009f4d;
    color: #ffffff;
    transition: 0.5s;
}
.column .gallery_effect img {
    width: 100%;
    border-style: none;
    height: auto;
}
.img-fluid {
    max-width: 100%;
    height: 100%;
}
h5.gall-text {
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}
.column .gallery_effect {
    position: relative;
}
.hover14 figure {
    overflow: hidden;
    position: relative;
    margin: 0;
}
.hover14 figure::before {
    position: absolute;
    content: '';
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 150ms linear;
    box-sizing: border-box;
}

/* FARMCAROUSEL */

.FarmCarousel p, .FarmCarousel h5{
    font-family:   'Source Sans Pro', sans-serif;
}

.FarmCarousel .carousel-inner{
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
    height: 500px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.FarmCarousel .carousel-inner::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 100%;
    position: absolute;
}


.FarmCarousel__img img{
    border-radius: 50%;
    width: 15vh;
}
.FarmCarousel__right i{
    color: #fb811e;
    font-size: 1.3rem;
}
.FarmCarousel__right p{
    text-indent: 30px;
    font-size: 1.5rem;
    font-weight: 100;
   
}
.FarmCarousel .carousel-indicators{
    padding-bottom: 4rem;
}
.FarmCarousel .carousel-indicators li{
    background-color: gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1;
    z-index: 100;
}
.FarmCarousel .carousel-indicators li:hover{
    background-color: #fb811e;

}

.FarmCarousel .carousel-indicators li.active{
    background-color: #fb811e;
    z-index: 100;

}

@media screen and (max-width: 1000px){
    .FarmCarousel .carousel-indicators{
    padding-bottom: 0;
}
@media screen and (max-width: 1000px){
    .FarmCarousel__right p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 1000px){
    .FarmCarousel .carousel-item{
        margin-top: 0;
    }
}
}


/* FOOTER */
footer{
    margin: 4rem 0;
    letter-spacing: .5px;

}
footer input::placeholder{
    font-family:   'Source Sans Pro', sans-serif;
    color: rgba(128, 128, 128, 0.87);
    font-size: 1rem;

}
footer li, footer p, footer span{
    font-family:   'Source Sans Pro', sans-serif;
}
footer li{
    list-style-type: none;
    color: grey;
}
footer .footer__news p{
    color: grey;
}
footer span{
    transition: .5s;
}
footer span:hover{
    color: #fb811e;
    cursor: pointer;
}
.footer__find *{
    padding-bottom: 1rem;
}
.footer__logo{
    color: #fb811e;
    transition: .5s;

}
.footer__logo:hover{
    color: black;
    cursor: pointer;
}
.footer__logo i{
    position: absolute;
    top: -0.5rem;
    left: 4rem;
    font-size: 1.2rem;
}
.footer__logo h3{
    position: relative;
    color: #fb811e;
    transition: .5s;
}
.footer__logo:hover h3{
    color: #000;
}
.footer__copy span{
    color: green;
}

.footer__input input{
    border: none;
    width: 80%;
    height: 3rem;
    background-color: rgba(128, 128, 128, 0.103);
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    outline: none;
}
.footer__input button{
    background-color: rgba(0, 128, 0, 0.548);
    border: none;
    width: 20%;
    border-radius: 0 2rem 2rem 0;
}

.footer__icon i{
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 128, 0, 0.057);
    color: green;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    font-size: .8rem;
    margin-right: .3rem;
    transition: .5s;
}
.footer__icon i:hover{
    color: #fb811e;
    background-color: #fb811e0e;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}

/* BACK TO TOP */
.backToTop{
    position: absolute;
    right: 0;
    top: 25%;
    
}
.backToTop__above{
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    background: #000;
    width: 90px;
    height: 300px;
    color: gray;
    text-align: center;
    position: relative;
    
}
.backToTop__hover{
    transition: .5s;
}
.backToTop__hover:hover{
    color: white;
    cursor: pointer;
}
#border{
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.backToTop__below a i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 30px;
    font-size: 14px;
    display: block;
    
}
.backToTop__below{
    visibility: hidden;
}


  .cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
 
/* LIGHT THEME */
#darkTheme {
  background-color: white;
}

#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
/* DARK THEME*/
.dark#darkTheme {
  background-color: rgba(0, 0, 0, 0.884);
}
.dark #switchButton:hover i{
    color: #fb811e;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark header .dropdown-menu{
    background-color: #000;
    
}
.dark header .dropdown-menu .dropdown-item{
    color: #fff;
}
.dark header .dropdown-menu .dropdown-item.active{
    color: #fb811e;
}
.dark header .dropdown-menu .dropdown-item:hover{
    color: #fb811e;
    background: #000;
}
.dark header .dropdown-menu .dropdown-item.active{
    background: #000;
}
.dark header .dropdown-menu .dropdown-item.active:hover{
    background: #000;
}
.dark .banner-left h1{
    color: #000;
}
.dark .banner-left h2{
    color: #fff;
}
.dark .banner-left p{
    color: #b7b7b7;
}
.dark .grow-left h2{
    color: #fff;
}
.dark .grow-left p{
    color: #b7b7b7;
}
.dark .grow-right h4 a{
    color: #fff;
}
.dark .grow-right .grow-item .item-container{
    background-color: rgba(128, 128, 128, 0.055);
}
.dark .organic p{
    color: #b7b7b7;
}
.dark .organic .card-body{
    background: #000;
    border: none;
}
.dark .organic .card-body a{
    color: white;
}
.dark .organic .card-body a:hover{
    color: #009f4d;
}
.dark .quality h3, .dark .quality h4{
    color: #fff;
}
.dark .quality p{
    color: #b7b7b7;
}
.dark .quality .feature-unit{
    background-color:  transparent;
}
.dark .quality .feature-unit:hover{
    border: 1px solid gray;
    background-color: transparent;
}
.dark .gallery .gallery_effect p{
    color: #b7b7b7;
}
.dark .gallery .gallery_effect h5.small-title{
    color: #fb811e;
}
.dark .gallery .gallery_effect h3{
    color: #fff;
}
.dark .gallery figure h5.gall-text{
    color: #fff;
}
.dark footer li, .dark footer .footer__news p{
    color: #b7b7b7;
}
.dark footer .footer__news p{
    color: #b7b7b7;
}
.dark footer h5{
    color: #fff;
}
.dark footer .footer__logo:hover, .dark footer .footer__logo:hover h3{
    color: #fff;
}
.dark footer input{
    background-color: #000;
} 
.dark footer input::placeholder{
    color: white;
}
.dark footer input:focus{
    color: white;
}